* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
}

body {
  background-color: white;
  font-family: "Zen Dots", cursive;
}

.body h1,
h2,
h3 {
  font-family: "Zen Dots", cursive;
  color: #e7a55f;
}

/* MENU */
.stars {
  background-color: white;
  color: #9cd5e9;
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  .stars {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .stars {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .stars {
    font-size: 1.5rem;
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  .stars {
    font-size: 1rem;
    padding: 3px 0;
  }
}

/* === MENÚ PRINCIPAL === */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 20px 0;
  background-image: url("https://ik.imagekit.io/ipze59mvl/Textura_papel.jpg?updatedAt=1760557385995");
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 300px;
  margin: 0;
  padding: 0;
}

.menu li {
  font-family: "Zen Dots", cursive;
  font-weight: 600;
  font-size: 1.1rem;
}

.menu a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease, transform 0.2s ease;
}

.menu a:hover {
  color: #555;
  transform: scale(1.05);
}

@media (max-width: 1250px) {
  .menu ul {
    flex-direction: column;
    gap: 15px;
  }
}

.green-box {
  background-color: #53c197;
  color: white;
  text-align: center;
  padding: 80px 20px;
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.green-box h1 {
  font-family: "Zen Dots", cursive;
  font-size: 7rem;
  color: black;
  margin-bottom: 0.25rem;
  letter-spacing: 2px;
}

.green-box h2 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

.main-image {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-bottom: 5%;
  padding-top: 2%;
  border-radius: 0;
}

@media (max-width: 1000px) {
  .green-box {
    padding: 60px 15px;
  }

  .green-box h1 {
    font-size: 5rem;
  }

  .green-box h2 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .green-box {
    padding: 50px 10px;
  }

  .green-box h1 {
    font-size: 3.5rem;
  }

  .green-box h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .green-box {
    padding: 40px 8px;
  }

  .green-box h1 {
    font-size: 2.8rem;
    letter-spacing: 1px;
  }

  .green-box h2 {
    font-size: 1.3rem;
  }
}

.main-image {
  display: block;
  width: 60%;
  height: auto;
  margin: 5px auto 0;
  margin-top: 4%;
}

/* ----------------------- RESET ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------- FUENTES ----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap");

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #f8f8f8;
  color: #000;
}

.info-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Fondo de cuadrícula */
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 40px 40px;
  padding: 100px 20px;
}

.info-cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.card {
  width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  transition: transform 0.3s ease;
  color: #222;
  font-weight: 400;
  text-align: center;
}

/* TARJETAS CON COLORES INDIVIDUALES */
.card.intro {
  background-color: #ff6f61;
  color: #fff;
  font-weight: 500;
}

.card.objetivos {
  background-color: #4b9cd3;
  color: #fff;
  font-weight: 500;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2rem;
  color: #000;
}

.card p,
.card ol {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 40px;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p,
  .card ol {
    font-size: 1rem;
  }

  .info-section {
    padding: 60px 20px;
  }

  .info-cards {
    gap: 50px;
  }
}

/* === SECCIÓN WEB 1 === */
.web1-section {
  margin: auto;
  background: #d1d1d1;
  padding: 40px;
  border-radius: 10px;
}

.web1-title {
  font-size: 3rem;
  font-family: "Zen dots", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.web1-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.main-img {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-img:hover {
  transform: scale(1.03);
}

.web1-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
  max-width: 900px;
}

.small-img {
  width: calc(50% - 7px);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.small-img:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .main-img {
    width: 100%;
  }

  .web1-row {
    flex-direction: column;
    align-items: center;
  }

  .small-img {
    width: 100%;
  }
}

.web1-accordion details {
  background: #c2c2c2;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.web1-accordion summary {
  font-family: "Zen Dots", sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  list-style: none;
}

.web1-accordion summary::marker {
  display: none;
}

.web1-accordion summary:hover {
  background-color: #b3b3b3;
}

.web1-accordion p {
  padding: 15px 20px;
  margin: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .web1-img {
    width: 80%;
  }
}

.web2-section {
  margin: auto;
  background-image: url("https://ik.imagekit.io/ipze59mvl/Textura_papel.jpg?updatedAt=1760557385995");
  padding: 40px;
  border-radius: 10px;
}

.web2-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.main-img2 {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-img2:hover {
  transform: scale(1.03);
}

.web2-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
  max-width: 900px;
}

.small-img2 {
  width: calc(50% - 7px);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.small-img2:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .main-img2 {
    width: 100%;
  }

  .web2-row {
    flex-direction: column;
    align-items: center;
  }

  .small-img2 {
    width: 100%;
  }
}

.web2-accordion details {
  background: #c2c2c2;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.web2-title {
  font-size: 3rem;
  font-family: "Zen dots", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.web2-accordion summary {
  font-family: "Zen Dots", sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  list-style: none;
}

.web2-accordion summary::marker {
  display: none;
}

.web2-accordion summary:hover {
  background-color: #b3b3b3;
}

.web2-accordion p {
  padding: 15px 20px;
  margin: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .web2-img {
    width: 80%;
  }
}

/* CARRUSEL  */
/* carrusel dde imagenes de la web 2 */

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(200%); /* doble porque se duplican las imágenes */
  animation: scroll 15s linear infinite;
}

.carousel img {
  width: 50em; /* cada imagen ocupa todo el ancho de la pantalla */
  height: 30em; /* altura horizontal */
  object-fit: cover; /* recorta sin deformar */
  flex-shrink: 0;
  border-radius: 0; /* sin bordes redondeados */
}

/* Animación para desplazamiento continuo */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .carousel img {
    width: 35em;
    height: 22em;
  }
  .carousel-track {
    animation: scroll 20s linear infinite; /* un poco más lento */
  }
}

@media (max-width: 768px) {
  .carousel img {
    width: 28em;
    height: 18em;
  }
  .carousel-track {
    animation: scroll 25s linear infinite;
  }
}

@media (max-width: 480px) {
  .carousel img {
    width: 100vw; /* ocupa todo el ancho del dispositivo */
    height: 14em; /* altura más compacta */
  }
  .carousel-track {
    width: calc(200%);
    animation: scroll 30s linear infinite; /* más suave en móviles */
  }
}

/* WEB 3 */

.web3-section {
  margin: auto;
  background-color: #dddde0;
  padding: 40px;
  border-radius: 10px;
}

.web3-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.main-img3 {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-img3:hover {
  transform: scale(1.03);
}

.web3-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
  max-width: 900px;
}

.small-img3 {
  width: calc(50% - 7px);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.small-img3:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .main-img3 {
    width: 100%;
  }

  .web3-row {
    flex-direction: column;
    align-items: center;
  }

  .small-img3 {
    width: 100%;
  }
}

/* === ACORDEÓN === */
.web3-accordion details {
  background: #c2c2c2;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.web3-title {
  font-size: 3rem;
  font-family: "Zen dots", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.web3-accordion summary {
  font-family: "Zen Dots", sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  list-style: none;
  background-color: #c2c2c2;
}

.web3-accordion summary::marker {
  display: none;
}

.web3-accordion summary:hover {
  background-color: #b3b3b3;
}

.web3-accordion p {
  padding: 15px 20px;
  margin: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .web3-img {
    width: 80%;
  }
}

/* WEB 4 */
.web4-section {
  margin: auto;
  background-image: url("https://ik.imagekit.io/ipze59mvl/Textura_papel.jpg?updatedAt=1760557385995");
  padding: 40px;
  border-radius: 10px;
}

.web4-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.main-img4 {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-img4:hover {
  transform: scale(1.03);
}

.web4-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
  max-width: 900px;
}

.small-img4 {
  width: calc(50% - 7px);
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.small-img4:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .main-img4 {
    width: 100%;
  }

  .web4-row {
    flex-direction: column;
    align-items: center;
  }

  .small-img4 {
    width: 100%;
  }
}

/* === ACORDEÓN === */
.web4-accordion details {
  background: #c2c2c2;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.web4-title {
  font-size: 3rem;
  font-family: "Zen dots", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.web4-accordion summary {
  font-family: "Zen Dots", sans-serif;
  font-weight: 500;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  position: relative;
  list-style: none;
}

.web4-accordion summary::marker {
  display: none;
}

.web4-accordion summary:hover {
  background-color: #b3b3b3;
}

.web4-accordion p {
  padding: 15px 20px;
  margin: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .web4-img {
    width: 80%;
  }
}

/* === FOOTER === */

/* ===== BLOQUE VERDE PRINCIPAL ===== */
.bloque-verde {
  background-color: #4dba89;
  color: white;
  position: relative;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  overflow: hidden;
  margin-top: 5%;
  padding: 5% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
}

/* === MENÚ LATERAL === */

.menu-lateral {
  position: absolute;
  left: 10%;
  top: 100px;
}

.menu-lateral ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-lateral li {
  font-family: "Zen Dots", sans-serif;
  font-size: 2.2rem;
  padding: 1.2rem 0;
  line-height: 1rem;
  color: white;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.menu-lateral li:hover {
  color: #e7a55f;
}

.menu-lateral a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.menu-lateral a:hover {
  text-decoration: underline; /* solo subrayado al pasar el mouse */
}

/* === CONTENIDO CENTRAL === */
.contenido-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  max-width: 1200px;
}

.ilustracion {
  text-align: center;
}

.ilustracion h1 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Zen Dots", cursive;
  transition: color 0.3s ease;
  margin-bottom: 0.5rem;
}

.ilustracion h2 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.ilustracion img {
  width: 400px;
  height: auto;
  transition: transform 0.3s ease;
}

.ilustracion img:hover {
  transform: scale(1.03);
}

/* === FOOTER DENTRO DEL BLOQUE VERDE === */
.footer-verde {
  padding: 10px 40px;
  display: flex;
  justify-content: left;
  font-size: 1.3rem;
  color: #fdd823;
  padding-bottom: 1.5%;
}

html {
  scroll-behavior: smooth;
}

/* === RESPONSIVE DESIGN === */

@media (max-width: 1024px) {
  .menu-lateral {
    left: 5%;
  }

  .menu-lateral li {
    font-size: 2rem;
  }

  .ilustracion img {
    width: 350px;
  }

  .ilustracion h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .bloque-verde {
    padding: 8% 5%;
  }

  .menu-lateral {
    position: static;
    margin-bottom: 30px;
    text-align: center;
  }

  .menu-lateral ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-lateral li {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }

  .contenido-titulo {
    flex-direction: column;
    padding: 0;
  }

  .ilustracion img {
    width: 320px;
  }

  .footer-verde {
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
  }

  .footer-stars {
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  .ilustracion h1 {
    font-size: 2rem;
  }

  .ilustracion h2 {
    font-size: 1.2rem;
  }

  .menu-lateral li {
    font-size: 1rem;
  }

  .ilustracion img {
    width: 250px;
  }

  .footer-stars {
    font-size: 1.8rem;
  }
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.bloque-verde,
.contenido-titulo,
.menu-lateral,
.ilustracion {
  max-width: 100vw;
  overflow-x: hidden;
}
